body {
    font-family: 'Arial', sans-serif;
    background-color: #191919;
    color: #b7b7b7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #383838;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 
{
    margin: 0;
}

section {
    margin: 50px 50px 200px 50px;
}

.project {
    margin-bottom: 30px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.25fr));
    gap: 10px;
    margin-top: 10px;
}

.gallery iframe {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.gallery iframe:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #383838;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.galleryElement {
    position: relative;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.galleryElement:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
  
.galleryImage {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover; /* Required to prevent the image from stretching, use the object-position property to adjust the visible area */
    aspect-ratio: 1/1;
}
  
.galleryElementoverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #48484879;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.galleryElement:hover .galleryElementoverlay {
    height: 25%;
}

.galleryText {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}